.error {
  background: red;
  color: #fff;
  width: 280px;
}
.success {
  background: forestgreen;
  color: #fff;
  width: 280px;
}
.focused {
  border: 2px solid #3b3b3b;
}

input {
  outline: none;
  margin: 10px 0;
}
